<html>

<head>
    <title>個人檔案</title>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.4/sdk.js"></script>
    <link href="/static/logo.png" rel="icon" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

<div>
    <div class="w-full px-4">
        <img id="avatar_img" class="w-full rounded-xl shadow-2xl"/>
    </div>
    <div class="my-4">
        <form action="/profile/avatar" method="post" id="avatar_form" enctype="multipart/form-data">
            <label for="avatar"
                   class="w-full flex justify-center items-center bg-orange-400 text-white rounded-xl shadow-2xl cursor-pointer">
                <span class="text-2xl">更換頭像</span>
                <input id="avatar" type="file" name="avatar" class="hidden" accept="image/*"
                       onchange="avatarChange()"/>
            </label>
            <input type="hidden" id="token" name="token"/>
        </form>
    </div>
</div>

<script>
    function avatarChange() {
        document.getElementById("avatar_form").submit();
    }

    document.addEventListener("DOMContentLoaded", () => {
        liff.init({liffId: "2001486622-g5oK1pGe"}).then(() => {
            if (liff.isLoggedIn()) {
                console.log("LIFF is logged in");
                liff.getProfile().then(user => {
                    document.getElementById("avatar_img").src = "/static/avatar/" + user.userId;
                })
                document.getElementById("token").value = liff.getIDToken();
            } else {
                liff.login();
            }
        });
    })
</script>

</body>
</html>